.footer{
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer_container{
    padding: 2rem 0 6rem;
}
.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_title, .footer_link{
    color: var(--title-color);
}
.footer_title{
    width: 250px;
    margin-bottom: var(--mb-2);
   
}
.footer_link:hover{
    color: var(--title-color-dark);
}
.footer_list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}
.footer_social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer_social_link{
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: .4rem;
    border-radius: .5rem;
    display: inline-flex;

}
.footer_social_link:hover{
    background-color: var(--title-color-dark);
}
.footer_copy{
    display: block;
    margin-top: 3.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}


/* ======Break points======== */
/* for large device */

@media screen and (max-width: 992px) {
    .footer_social_link{
        padding: 0.25rem;
        border: 0.25rem;
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .footer_title{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 410px) {
    .footer_title{
        width: 200px;
    }
}